<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-3">Login</h4>
        <form (ngSubmit)="submit()">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input [(ngModel)]="model.username" name="username" class="form-control" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input  [(ngModel)]="model.password" name="password" type="password" class="form-control" required />
          </div>
          <div class="d-grid">
            <button class="btn btn-primary" type="submit" >
              <span *ngIf="!loading">Login</span>
              <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
